body{ 	text-align: center;
		font-family: Impact;
		background-color: rgb(255,251,159);
		
}

a {	
	text-decoration: Impact;
	font-size: 25px;
	padding-bottom: 0px;
	width: 100px;
	height: 100px;
		-webkit-transition: 
		width 1s, height 1s, - webkit-transform 1s;
		/* Safari*/
		transition: width 1s, height 1s, transform 1s;
		background-repeat:no-repeat;
	
	
}
.header{
	color:white;
}

#main-menu{
	margin: 0px 0px 0px 80px;
	padding: 0;
	text-align: center;
	list-style: none;
	display: grid ;
	grid-gap: 10px;
	grid-template-columns: repeat(6,1fr);
	
	
}
.logo {
		background-image:url(../images/news.jpg);
		background-size: 90px 90px;
		font-size: 40px;
		padding: 15px 10px;
		display: inline-block;
		color: red;
		width: 100px;
		height: 100px;
		-webkit-transition: 
		width 1s, height 1s, - webkit-transform 1s;
		/* Safari*/
		transition: width 1s, height 1s, transform 1s;
		background-repeat:no-repeat;
}
.button1 {
		background-image:url(../images/menubuttons/Greg.png);
		background-size: 90px 90px;
		padding: 15px 10px;
		display: inline-block;
		color: orange;		
		width: 100px;
		height: 100px;
		-webkit-transition; 
		width 1s; /* Safari*/
		transition:width 1s;
		background-repeat:no-repeat;
}
.button1:hover {
		background-image:url(../images/menubuttons/Greghover.png);
		background-size: 90px 90px;
		color: rgb(254,219,137);
		width: 210px;
		background-repeat:no-repeat;
}

.button3 {
		background-image:url(../images/menubuttons/Jessa.png);
		background-size: 100px 90px;
		background-repeat: no-repeat;
	
		color: orange;
		padding: 15px 0px;
		display: inline-block;
		width: 100px;
		height: 100px;
		-webkit-transition: 
		width 1s, height 1s, - webkit-transform 1s;
		/* Safari*/
		transition: width 1s, height 1s, transform 1s;
		background-repeat:no-repeat;
		
}
.button3:hover {
		background-image:url(../images/menubuttons/Jessahover.png);
		background-size: 100px 90px;
		background-repeat: no-repeat;
		
		color: rgb(254,219,137);
		width: 250px;
		background-repeat:no-repeat;
}
.button4 {
		background-image:url(../images/menubuttons/Ezra.png);
		background-size: 100px 90px;
		background-repeat: no-repeat;
	
		color: orange;
		padding: 15px 0px;
		display: inline-block;
		width: 100px;
		height: 100px;
		-webkit-transition: 
		width 1s, height 1s, - webkit-transform 1s;
		/* Safari*/
		transition: width 1s, height 1s, transform 1s;
		background-repeat:no-repeat;
		
		
}
.button4:hover {
		background-image:url(../images/menubuttons/Ezrahover.png);
		background-size: 100px 90px;
		background-repeat: no-repeat;
		color: rgb(254,219,137);
		width: 250px;
}
.button5 {
		background-image:url(../images/menubuttons/Corliss.png);
		background-size: 90px 85px;
		background-repeat: no-repeat;
	
		color: orange;
		padding: 15px 0px;
		display: inline-block;
		width: 100px;
		height: 100px;
		-webkit-transition: 
		width 1s, height 1s, - webkit-transform 1s;
		/* Safari*/
		transition: width 1s, height 1s, transform 1s;
		background-repeat:no-repeat;
		
}
.button5:hover {
		background-image:url(../images/menubuttons/Corlisshover.png);
		background-size: 90px 85px;
		background-repeat: no-repeat;
		color: rgb(254,219,137);
		width: 225px;
}
.button2 {
		background-image:url(../images/menubuttons/JC.png);
		background-size: 90px 90px;
		background-repeat: no-repeat;
		color: orange;
		padding: 15px 0px;
		display: inline-block;
		width: 100px;
		height: 100px;
		-webkit-transition: 
		width 1s, height 1s, - webkit-transform 1s;
		/* Safari*/
		transition: width 1s, height 1s, transform 1s;
		background-repeat:no-repeat;
		
		
}
.button2:hover {
		background-image:url(../images/menubuttons/JChover.png);
		background-size: 90px 80px;
		color: rgb(254,219,137);
		width: 250px;
		background-repeat:no-repeat;
}
.line-header{
	padding:2px;
	background-color: rgb(141, 36, 10);
	}
.carousel-inner {
	height: 500px;
	
}
.container {
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin-bottom: 50px;
	box-shadow: 0 0 5px #9f8260;
	border-top: 2px solid black;
	border-bottom: 2px solid black;

}

.c-arts-and-literature {
	font-family: Cooper STD Black;
	padding: 0px;
	margin-bottom: 120px;
	
}

#arts-and-literature {
		background-size: 90px 80px;
		background-repeat:no-repeat;
		margin: 50px 50px 50px 50px;
		padding: 0px 50px 0px 50px;
		text-align: center;
		list-style: none;
		display: grid ;
		grid-gap: 10px;
		grid-template-columns: repeat(3,1fr);

	
}

.artworks {
		background-image:url(../images/artworks.png);
		background-size: 300px 300px;
		background-repeat:no-repeat;
		background-position: center;

		font-size: 80px;
		margin: 10px;
		border: 10px;
		padding: 200px ;	
		grid-gap: 10px;
		grid-template-columns: 1fr, 1fr;
		
}
.special-hearts {
		background-image:url(../images/specialhearts.png);
		background-size: 300px 300px;
		background-repeat:no-repeat;
		background-position: center;

		font-size: 80px;
		margin: 10px;
		border: 10px;
		padding: 200px ;	
		grid-gap: 10px;
		grid-template-columns: 1fr, 1fr;
}
.workshops {
		background-image:url(../images/workshops.png);
		background-size: 300px 300px;
		background-repeat:no-repeat;
		background-position: center;
	
		font-size: 35px;
		margin: 10px;
		border: 10px;
		padding: 200px;
		grid-gap: 10px;
		grid-template-columns: 1fr, 1fr; 
		
}
.join {
	padding: 0px;
	margin-top: 400px;
	margin-bottom: 50px;
	display: grid;

	text-align: center;

}	
.join-special-hearts {
	padding:10px;
	background: orange;
	display: grid;
}
#copyright { font-color: white;
		font-size: 10px;
		text-align: center;	
}	


/* FOOTER SECTION */


.footer {
	font-family: Georgia;
	color:white;
	padding:20px 100px 20px 100px;
	box-shadow: 0 0 5px #9f8260;
	background-color: rgb(20,0,0);
	margin-bottom: 0px; 
	display: grid;
	grid-template-columns: 1fr 1fr;
}	
.footer-left {
	text-align: left;
	padding: 10px;
	display: grid;
	grid-template-columns: 1fr, 1fr;
}
.footer-right {
	padding: 15px;
	display: grid;
	grid-template-columns: 1fr, 1fr;
	text-align:right;
}
#social-media {
	margin: 0px;
	padding: 0px;
}

#social-media >a{
			font-family: Impact;
	width:10px;
	height: 10px;
}
.facebook {
	margin: 0 0 0 390px; 
	background:url(../images/facebook2.jpg);
	background-repeat: no-repeat;
	background-size: 22px 22px;
	text-decoration: none;
	display: inline-block;
	background-position:right;
	font-size:15px;
}

.twitter {
	margin: 0 0 0 390px; 
	background-image: url(../images/twitter1.jpg);
	background-repeat: no-repeat;
	background-size: 22px 22px;
	text-decoration: none;
	display: inline-block;
	background-position:right;
	font-size:15px;
}
.instagram {
	margin: 0 0 0 390px; 
	background-image: url(../images/instagram1.jpg);
	background-repeat: no-repeat;
	background-size: 22px 22px;
	text-decoration: none;
	display: inline-block;
	background-position:right;
	font-size:15px;
}

.extra-footer {
	font-family: Georgia;
	padding: 20px;
	background:black;
	text-align: center;
}
